@{
    ViewData["Title"] = "Detalles";
}

<div class="container mt-5">
    <h1>Detalles del usuario</h1>
    <div class="row mt-3">
        <div class="col">
            <a class="d-flex float-start btn btn-primary" asp-controller="Usuarios" asp-action="Index">Regresar</a>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Correo</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <th scope="row">@Model.Id</th>
                <td>@Model.Nombres</td>
                <td>@Model.Apellidos</td>
                <td>@Model.Correo</td>
                <td>@Model.Direccion</td>
                <td>@Model.Telefono</td>
                <td>@Model.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-controller="Usuarios" asp-action="Detalles" asp-route-id="@Model.Id">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Usuarios" asp-action="Detalles" asp-route-id="@Model.Id">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>